.stm_token_structure {
  display: -ms-flexbox;
  display: flex; }
  .stm_token_structure:after {
    content: '';
    display: block;
    clear: both; }
  .stm_token_structure .stm_token {
    -ms-flex-positive: 1;
        flex-grow: 1;
    -ms-flex-negative: 1;
        flex-shrink: 1; }
    .stm_token_structure .stm_token__bar {
      text-align: center;
      border-radius: 20px; }
    .stm_token_structure .stm_token__label {
      position: relative;
      padding-top: 20px;
      font-size: 13px;
      line-height: 18px; }
      .stm_token_structure .stm_token__label:before {
        content: '';
        position: absolute;
        top: -10px;
        left: 0;
        width: 1px;
        height: 27px;
        border-right: 1px dashed #8785a3; }

@media only screen and (max-width: 768px) {
  .stm_token_structure {
    display: block; }
    .stm_token_structure .stm_token {
      position: relative;
      margin: 0 0 30px;
      min-width: 40px; }
      .stm_token_structure .stm_token__bar {
        padding: 5px 10px 5px 0;
        text-align: right; }
      .stm_token_structure .stm_token__label {
        top: 8px;
        padding-top: 0;
        font-size: 15px;
        min-width: 250px;
        max-width: 80vw; }
        .stm_token_structure .stm_token__label:before {
          display: none; } }